.App {
  max-width: 860px;
  margin: 40px auto;
}

button {
  background: black;
  border: 2px solid #d4b465;
  padding: 6px 12px;
  color: #d4b465;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: #931112;
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}